<footer>
    <div class="scrollup">
      <button onclick="scrollToTop()" class="topfun">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
    </div>

    <div class="container lang-inr">
      <div>
        <p class="nav-link" id="title">
          <img src="/images/logo.jpg" style="height: 8%; width: 8%;" class="logoimg" />&nbsp;&nbsp;<b>FindMySpace</b>
        </p>
        <p>Rooms, PG, Flats, Hostels for students, Apartment</p>
      </div>

    </div>
    <hr style="margin: 30px" id="tonone" />
    <div class="f-info">
      <div class="f-info-socials">
        <i class="fa-brands fa-facebook" style="color: rgb(16, 108, 221)"></i>
        <i
          class="fa-brands fa-square-instagram"
          style="color: rgb(232, 20, 20)"
        ></i>
  
        <i class="fa-brands fa-twitter" style="color: rgb(38, 195, 253)"></i>
        <i class="fa-brands fa-pinterest" style="color: brown"></i>
        <i class="fa-brands fa-linkedin" style="color: rgb(6, 101, 123)"></i>
      </div>
      <div class="f-info-brand">&copy; 2024 FindMySpace Private Limited, inc.</div>
      <div class="f-info-links ">
        <a class="m-2" href="#">Privacy</a>
        <a class="m-2" href="#">Terms</a>
        <a class="m-2" href="#">Sitemap</a>
        <a class="m-2" href="#">Company details</a>
      </div>
    </div>
  </footer>
  
  <script>
    function scrollToTop() {
      // Scroll to the top of the page
      window.scrollTo({
        top: 0,
        behavior: "smooth", // Optional: adds smooth scrolling animation
      });
    }
  </script>
  